* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1C282E;
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: auto;
    margin-left: 20px;
}

.nav_logo > img {
    width: 150px;
}

.nav_buttons {
    display: flex;
    justify-content: space-between;
}

.nav_buttons > ul {
    height: 100%;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    list-style: none;
    
}
.nav_buttons > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    cursor: pointer;
}

.nav_social_icons {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height: 500px;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 500px;
    display: flex;
}

.slider input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    width: 500px;
    height: auto;
    position: absolute;
    z-index: 1;
    color: #FFF;
    margin-left: 130px;
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texto > h2{
    font-size: 40px;
    font-weight: bold;
}

.texto > h3 {
    font-size: 20px;
    font-weight: normal;
}



.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

.manual-button {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-button:not(:last-child) {
    margin-right: 40px;
}

.manual-button:hover{
    background-color: #FFF;
}

#radio1:checked ~ .slides .first {
    margin-left: 0;
}

#radio2:checked ~ .slides .first {
    margin-left: -25%;
}

#radio3:checked ~ .slides .first {
    margin-left: -50%;
}

.first {
    transition: margin-left 0.8s ease-in-out; /* Adicione isso */
}