* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    min-height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background-color: #1C282E;
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: auto;
}

.nav_logo > img {
    width: 200px;
}

.nav_buttons {
    display: flex;
    justify-content: space-between;
}

.nav_buttons > ul {
    height: 100%;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    list-style: none;
    
}
.nav_buttons > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
}

.nav_social_icons {
    height: 100%;
    width: auto;
}