:root {
    --cor-fundo: #CCD3D9;
    --cor-texto-escuro: #1C282E;
    --cor-texto-claro: #2B4C5D;
    --cor-destaque: #afc3cc;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    min-height: 100dvh;
    font-family: 'League Spartan', 'Libre Franklin';
    background-color: var(--cor-fundo);
}

button {
    height: 46px;
    width: 116px;
    background-color: var(--cor-texto-escuro);
    border: none;
    color: #FFF;
    cursor: pointer;
    border-radius: 15px;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 2px 14px 0 rgba(0,0,0,0.3);
    transition: ease 0.2s;
}

.header {
    background-color: var(--cor-texto-escuro);
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo {
    width: auto;
    margin-left: 20px;
}

.nav_logo > img {
    width: 150px;
}

.nav_buttons {
    display: flex;
    justify-content: space-between;
}

.nav_buttons > ul {
    height: 100%;
    width: 100%;
    gap: 40px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;   
    list-style: none;
    
}
.nav_buttons > ul > li > a {
    text-decoration: none;
    color: white;
    padding: 10px;
    display: block;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-top: 5px;
}

.nav_buttons > ul > li > a::after{
    content: '';
    position: relative;
    border: none;
    width: 0;
    margin-top: 5px;
}

.nav_buttons > ul > li > a:hover::after {
    width: 100%;
    border: solid 1px var(--cor-fundo);
    transition: ease-in-out 0.2s;
}

.nav_social_icons {
    display: flex;
    height: 100%;
    width: auto;
    align-items: center;
    gap: 10px;
    margin-right: 20px;
    cursor: pointer;
}

.nav_social_icons > a {
    transition: transform 0.2s ease
}

.nav_social_icons > a:hover {
    transform: translateY(-2px);
    transition: ease 0.2s;
}

.slider {
    margin: 0 auto;
    width: 100%;
    height:70dvh;
    overflow: hidden;
}

.slides {
    width: 400%;
    height: 100%;
    display: flex;
    align-items: center;
}

.slider input {
    display: none;
}

.slide {
    width: 25%;
    position: relative;
}

.slide::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4); 
    z-index: 0;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.texto {
    width: 40%;
    height: 100%;
    max-height: 200px;
    position: absolute;
    z-index: 1;
    color: #FFF;
    margin-left: 130px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.texto > h2{
    width: 100%;
    font-size: 40px;
    font-weight: bold;
}

.texto > h3 {
    width: 100%;
    font-size: 20px;
    font-weight: normal;
    font-family: "Libre Franklin";
}

/* EFEITO DE DIGITAÇÃO */

/* Essa classe será adicionada pelo Javascript enquanto estiver digitando */
.digitando::after {
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: piscar 0.7s infinite;
    color: #FFF; /* Ou use white/orange */
}

@keyframes piscar {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.manual-navigation {
    position: absolute;
    width: 100%;
    margin-top: -70px;
    display: flex;
    justify-content: center;
}

.manual-button {
    border: 2px solid #FFF;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-button:not(:last-child) {
    margin-right: 40px;
}

.manual-button:hover{
    background-color: #FFF;
}

#radio1:checked ~ .slides .first {
    margin-left: 0;
}

#radio2:checked ~ .slides .first {
    margin-left: -25%;
}

#radio3:checked ~ .slides .first {
    margin-left: -50%;
}

.first {
    transition: margin-left 0.8s ease-in-out; /* Adicione isso */
}

.steps-section {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 50px;
}

.steps-list {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    list-style: none;
    color: #FFF;
    justify-content: space-between;
    margin-top: -20px;
    z-index: 2;    
}

.intro-card {
    background-color: var(--cor-texto-escuro);
    width: 238px;
    height: 281px;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
}

.intro-card > h2 {
    width: 80%;
}

.intro-card:hover {
    transform: translateY(-12px);
    box-shadow: 0px 10px 14px 0 rgba(0,0,0,0.3);
    transition: ease 0.5s;
}

.step-card {
    background-color: var(--cor-texto-claro);
    width: 238px;
    max-width: 100%;
    height: 281px;
    border-radius: 15px;
    display: flex;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    font-family: "Libre Franklin";
}

.step-card > img {
    width: 50px;
    height: auto;
    position: relative;
    margin-top: 10px;
    margin-left: -140px;
}

.step-card > h3 {
    width: 80%;
    font-size: 30px;
}

.step-card > p {
    width: 80%;
    font-size: 20px;
    margin-bottom: 15px;
}

.step-card:hover {
    transform: translateY(-12px);
    box-shadow: 0px 10px 14px 0 rgba(0,0,0,0.3);
    transition: ease 0.5s;
}

.about-us {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 50px;
}

.about-us-image {
    width: 60%;
    max-width: 2000px;
    height: auto;
}

.about-us-image > img {
    width: 100%;
    height: auto;
    border-radius: 15px;
}

.about-us-text {
    width: 40%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about-us-text > h1 {
    color: var(--cor-texto-escuro);
    font-size: 36px;
}

.about-us-text > h3 {
    color: var(--cor-texto-claro);
    font-family: "Libre Franklin";
    font-size: 20px;
    font-weight: normal;
}

.services {
    width: 85%;
    height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    gap: 40px;
    padding-bottom: 50px;
}

.question-card {
    width: 40%;
    max-width: 800px;
    height: 322px;
    background-color: var(--cor-texto-escuro);
    border-radius: 15px;
    color: #fff;
    display: flex;
    align-items: center;
    
}

.question-card > h1 {
    width:60%;
    height: auto;
    font-size: 48px;
    margin-left: 40px;
}

.service-card {
    width: 60%;
    height: 322px;
    background-color: #6A8595;
    border-radius: 15px;
    color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.service-card > h1 {
    width: 100%;
    margin-top: -20px;
    padding-bottom: 20px;
    border-bottom: solid 2px var(--cor-texto-escuro);
    text-align: center;
    
}

.service-card > h3 {
    width: 80%;
    font-family: "Libre Franklin";
    font-size: 24px;
    font-weight: normal;
}

.our-team {
    width: 70%;
    height: 322px;
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    align-items: center;
    padding-bottom: 50px;
}

.our-team > h1 {
    font-size: 40px;
    padding-bottom: 50px;
}

.our-team-photos {
    width: 100%;
    height: auto;
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.our-team-photos > li {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 24px;
}

.our-team-photos > li > img {
    width: 170px;
    height: 170px;
    border-radius: 85px;
    margin-bottom: 10px;
}